.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  margin-top: 100px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.item-list {
  padding: 50px;
  .main {
    display: flex;
    align-self: center;

    padding: 10px;
  }
}

.sub-item {
  display: flex;
  padding: 20px 0px 0px 10px;
  text-align: left;
}

.expand {
  padding: 0px 10px;
}
